.clearfix
  = f.label :email, "Email Address:"
  .input
    = f.text_field :email
    = required
.clearfix
  = f.label :password, "Password:"
  .input
    = f.password_field :password
    = required
.clearfix
  = f.label :password_confirmation, "Confirm Password:"
  .input
    = f.password_field :password_confirmation
    = required
