- title 'Change Password'

.container
  = form_for(resource, as: resource_name, url: users_update_password_path, html: { method: :put }) do |f|
    = render "shared/error_messages", target: @user
    .clearfix
      = f.label :current_password, "Current password:"
      .input
        = f.password_field :current_password
        %p.details We need your current password for confirmation
    .clearfix
      = f.label :password, "New password:"
      .input
        = f.password_field :password
        = required
    .clearfix
      = f.label :password_confirmation, "Confirm new password:"
      .input
        = f.password_field :password_confirmation
        = required
    .actions
      = f.submit "Update", class: "btn primary"
      = link_to 'Cancel', users_profile_path, class: "btn"
