%h2 Batch Uploads
- if @batch_files.blank?
  %p There are no batch files to show.
- else
  = link_to "Refresh Status", root_path, class: 'btn'
  %table#batch_uploads.bordered-table
    %thead
      %tr
        %th Survey Type
        %th Filename
        %th Created By
        %th Date Uploaded
        %th Num records
        %th Status
        %th Details
        %th Reports
        - if can? :force_submit, BatchFile
          %th
    - @batch_files.each do |batch_file|
      %tr

        %td= batch_file.survey.name
        %td= batch_file.file_file_name
        %td= batch_file.user.full_name
        %td= time_tag batch_file.created_at
        %td= batch_file.record_count
        %td= batch_file.status
        %td= batch_file.message
        %td
          - if batch_file.has_summary_report?
            = link_to "Summary Report", summary_report_batch_file_path(batch_file)
          - if batch_file.has_detail_report?
            %br/
            = link_to "Detail Report", detail_report_batch_file_path(batch_file)
        - if can? :force_submit, BatchFile
          %td
            - if can? :force_submit, batch_file
              = form_tag(force_submit_batch_file_path(batch_file)) do
                = submit_tag 'Force Submit', class: 'btn', id: "force_submit_#{batch_file.id}"
