- content_for :title do
  = "New Batch Upload"

%p Please select the registration type and the file you want to upload

= form_for @batch_file do |f|
  %fieldset
    = render "shared/error_messages", target: @batch_file
    .clearfix
      = f.label :survey_id
      .input
        = f.collection_select :survey_id, Survey.by_name, :id, :name, {:include_blank => "Please select"}, {:class => "large"}
        = required
    .clearfix
      = f.label :year_of_registration
      .input
        = f.select :year_of_registration, year_of_registration_range, {:include_blank => "Please select"}, {:class => "medium"}
        = required
    .clearfix
      = f.label :file, "File"
      .input
        = f.file_field :file, class: 'batchupload'
        = required
    - group_names_by_survey.each do |survey_id, group_names|
      .supplementary_group{id: "supplementary_#{survey_id}"}
        %h3 Supplementary files
        %p If you wish, you can supply the following data as separate tables
        - group_names.each do |group_name|
          .clearfix
            = f.label "supplementary['#{group_name}']", group_name
            .input
              = f.file_field "supplementary['#{group_name}']", class: 'batchupload'

    .actions
      = f.submit "Upload", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
