.topbar
  .topbar-inner
    .container
      .brand Australian & New Zealand Neonatal Network
      = tabs_tag(builder: MenuTabBuilder) do |tab|
        %ul.nav
          = tab.home 'Home', root_path
          = tab.manual 'User Manual', '/user_manual/index.html'
        %ul.nav.secondary-nav
          - if user_signed_in?
            = (tab.admin 'Admin', admin_users_path) if can?(:read, User)
            = tab.editaccount current_user.email, users_profile_path, class: "user"
            = tab.logout "Logout", destroy_user_session_path, class: "logout"
          - else
            = tab.signup "Request An Account", new_user_registration_path, class: "signup"
