= tabs_tag(builder: MenuTabBuilder, namespace: :home) do |tab|
  %ul.tabs
    = tab.responses 'Data Entry Forms', root_path
    = tab.batches 'Batch Uploads', batch_files_path
    - if can?(:stats, Response)
      = tab.stats 'Stats', stats_responses_path
    - if can?(:download, Response)
      = tab.download 'Download Data', prepare_download_responses_path
