- content_for :title do
  = "Home"

- if !user_signed_in?
  #content_container
    .container_home
      = form_for("user", url: user_session_path) do |f|
        = render(partial: 'devise/sessions/form', locals: { f: f })

- else
  %h2 Messages from ANZNN Administrators

  %h3
    Greetings, Executor.
    %small Sent at 2012-01-20 15:20

  %p Though we all grieve for the loss of mighty Tassadar, we must find the resolve to carry on. He sacrificed himself to destroy the Overmind, but many Zerg still rage across our ruined homeworld.
  %p Without the Conclave to lead us, or the protection of our great fleets, it seems we must fend for ourselves.

  %h2 New Survey Response
  =link_to "New", new_response_path

  - unless @user_started_responses.blank?
    %h2 Incomplete Surveys you have started
    - @user_started_responses.each do |r|
      %p
        = link_to r.baby_code, edit_response_path(r)
        %small #{r.survey.name}, Started #{distance_of_time_in_words_to_now(r.created_at)} ago
