- field_id = "question_#{q.id}"
- answer = @question_id_to_answers[q.id]

.clearfix
  = label_tag field_id, q.question
  .input
    - case q.question_type
      - when 'Text'
        = text_field_tag "answers[#{q.id}]", answer, id: field_id, class: 'xxlarge', placeholder: 'Text Response'
      - when 'Date'
        -#- Rails.logger.debug "Answer: #{answer.class}"
        -#- default = Date.new(answer) if answer
        -#= date_select "answers[#{q.id}]", "", id: field_id, use_month_numbers: true, order: [:day, :month, :year], include_blank: true, :default => answer
        .input
          %select.small{name: "Day", placeholder: "Day"}
            %option{value: "", disabled: "disabled"} Day
            - 31.times do |i|
              %option= i
          <span>/</span>
          %select.small{name: "Month"}
            %option{value: "", disabled: "disabled"} Month
            %option 1
            %option 2
          <span>/</span>
          %select.small{name: "Year"}
            %option{value: "", disabled: "disabled"} Year
            %option 2001
            %option 2002
      - when 'Time'
        (Time Questions not implemented)
      - when 'Choice'
        (Choice Questions not implemented)
      - when 'Decimal'
        (Decimal Questions not implemented)
      - when 'Integer'
        (Integer Questions not implemented)
      - else
        Question type not recognised!


