%h2 Surveys In Progress
- if @responses.blank?
  %p There are no surveys in progress.
- else
  %table#responses.bordered-table
    %thead
      %tr
        %th Baby Code
        %th Survey Type
        %th Created By
        %th Status
        %th Date Started
        %th
    - @responses.each do |r|
      %tr{id: "response_#{r.id}"}

        %td= r.baby_code
        %td= r.survey.name
        %td= r.user.full_name
        %td= r.status
        %td
          %p
            = time_tag r.created_at
            %small (#{distance_of_time_in_words_to_now(r.created_at)} ago)
        %td
          %p
            = link_to "Edit", edit_response_path(r), class: 'btn'
            = link_to "View Summary", r, class: 'btn'
          %p
            = link_to "Review Answers", review_answers_response_path(r), class: 'btn'
          %p= render 'responses/submit_or_warning', response: r
