%h2 Data Entry Forms In Progress
- if @responses.blank?
  %p There are no data entry forms in progress.
- else
  %table#responses.bordered-table
    %thead
      %tr
        %th Baby Code
        %th Registration Type
        %th Year of Registration
        %th Created By
        %th Status
        %th Date Started
        %th
    - @responses.each do |r|
      %tr{id: "response_#{r.id}"}

        %td= r.baby_code
        %td= r.survey.name
        %td= r.year_of_registration
        %td= r.user.full_name
        %td= r.status
        %td= time_tag r.created_at
        %td
          %p
            = link_to("Edit", edit_response_path(r), class: 'btn') if can?(:edit, r)
            = link_to "View Summary", r, class: 'btn'
          %p
            = link_to "Review Answers", review_answers_response_path(r), class: 'btn'
          %p= render 'responses/submit_or_warning', response: r
