- title 'Batch Delete Responses'
- content_for :tabs do
  = render "admin/users/tabs"

.container
  = form_tag confirm_batch_delete_responses_path, method: :put do
    %fieldset
      - unless @errors.blank?
        #form_errors.alert-message.block-message.error
          %h3.error_header Please correct the following before continuing
          %ul
            - @errors.each do |msg|
              %li= msg
      .clearfix
        = label_tag :year_of_registration, "Year of Registration"
        .input
          = select_tag :year_of_registration, options_from_collection_for_select(@years, :to_s, :to_s), include_blank: ""
      .clearfix
        = label_tag :registration_type, "Registration Type"
        .input
          = select_tag :registration_type, options_from_collection_for_select(@surveys, :id, :name), include_blank: "", class: "large"
      .actions
        = submit_tag "Next", class: "btn primary"

