- title 'Batch Delete Responses'
- content_for :tabs do
  = render "admin/users/tabs"

.container
  = form_tag confirm_batch_delete_responses_path, method: :put do
    %fieldset
      - unless @errors.blank?
        #form_errors.alert-message.block-message.error
          %h3.error_header Please correct the following before continuing
          %ul
            - @errors.each do |msg|
              %li= msg
      .clearfix
        = label_tag :registration_type, "Registration type"
        .input
          = select_tag :registration_type, options_from_collection_for_select(surveys, :id, :name, @registration_type_id), {class: "large", prompt: "Please select"}
          = required
      .clearfix
        = label_tag :year_of_registration, "Year of registration"
        .input
          = select_tag :year_of_registration, options_for_select(existing_years_of_registration, @year), {prompt: "Please select", class: 'large'}
          = required
      .actions
        = submit_tag "Next", class: "btn primary"
