- title 'Confirm Batch Delete'

.container
  .alert-message.alert
    %h2 WARNING
    %p= "You are about to delete all data for year of registration #{@year} for registration type #{@registration_type.name}."
    %p= "This will affect #{pluralize(@count, 'record')}."
    %p= "This will delete ALL responses for the chosen year and registration type, and this action CANNOT BE UNDONE."
    %p= "You must be absolutely sure that you have downloaded the data and stored it somewhere safe before doing this."
    %br
    = form_tag perform_batch_delete_responses_path, method: :put do
      = hidden_field_tag 'year_of_registration', @year
      = hidden_field_tag 'registration_type', @registration_type_id
      = link_to "Cancel this action", batch_delete_responses_path, class: "btn primary"
      = submit_tag "Yes, I'm sure I want to delete and I have downloaded the data", class: "btn danger", id: "confirm_delete"
