%h1= "#{@response.survey.name} - Baby Code #{@response.baby_code}"
.pagination
  %ul
    %li.prev.disabled
      %a &larr; Previous
    - 1.upto(10) do |i|
      - is_active = i == 7
      %li{class: ('active' if is_active)}
        %a= i
    %li.next.disabled
      %a Next &rarr;
.row
  .span12
    = form_tag response_path(@response), method: :put do
      %fieldset
        %legend Section x
        = render partial: 'display_question', collection: @questions, as: :q
        .actions
          = submit_tag 'Save page', class: "btn primary"
          %a.btn Cancel
  .span4
    %h2 Field Information
    %p#field_info Select a field to view its information.
