- title response_title(@response)
= render 'section_navigation'
.row
  .span12#question_box
    = form_tag response_path(@response), method: :put, id: :response_form do
      = hidden_field_tag :go_to_section, @section.id, id: "go_to_section_field"
      %fieldset
        %legend= @section.name
        = render partial: 'display_question', collection: @questions, as: :q
        .actions
          = submit_tag 'Save page', class: "btn primary"
          - if @section.last?
            = submit_tag 'Save and return to summary page &rarr;'.html_safe, class: "btn primary"
          - else
            = submit_tag 'Save and go to next section &rarr;'.html_safe, class: "btn primary"
          %a.btn Cancel
  .span4#help_box
    %h2#field_title Field Information
    %p#field_info Select a field to view its information.
= render 'section_navigation'
