%h1= "Editing form #{@response.survey.name}"
.pagination
  %ul
    %li.prev.disabled
      %a &larr; Previous
    - 1.upto(10) do |i|
      - is_active = i == 7
      %li{class: ('active' if is_active)}
        %a= i
    %li.next.disabled
      %a Next &rarr;
.row
  .span12
    = form_tag response_path(@response), method: :put do
      %fieldset
        %legend Section x
        - @questions.each do |q|
          - field_id = "question_#{q.id}"
          .clearfix{id: "container_#{q.id}"}
            = label_tag field_id, q.question
            .input
              = text_field_tag "answers[#{q.id}]", @question_id_to_answers[q.id], id: field_id, class: 'xxlarge field_trigger', placeholder: 'something', data: {description: q.description, guide: q.guide_for_use}
              %span.help-block= HelpTextGenerator.new(q).help_text
        .actions
          = submit_tag 'Save page', class: "btn primary"
          %a.btn Cancel
  .span4
    %h2 Field Information
    %p#field_info Select a field to view its information.
