- content_for :title do
  = "New Survey"

.row
  = form_for @response do |f|
    .formerror= render "shared/error_messages", target: @response
    .rowform
      = f.label :survey_id
      = f.select :survey_id, options_from_collection_for_select(Survey.active, :id, :name)
      = required
    .rowform
      = f.label :baby_code
      = f.text_field :baby_code
      = required
    .actions
      = f.submit "Save Survey", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
