- title 'New Survey'
%br
%br
%br
%br
%br
%h1 New Survey
.row
  = form_for @response do |f|
    .formerror= render "shared/error_messages", target: @response
    .rowform
      = f.label :baby_code
      = f.text_field :baby_code
      = required
    .actions
      = f.submit "Save Response", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
