- content_for :title do
  = "New Survey Response"

= form_for @response do |f|
  %fieldset
    = render "shared/error_messages", target: @response
    .clearfix
      = f.label :survey_id
      .input
        = f.collection_select :survey_id, Survey.by_name, :id, :name, {:include_blank => "Please select"}, {:class => "large"}
        = required
    .clearfix
      = f.label :year_of_registration
      .input
        = f.select :year_of_registration, year_of_registration_range, {:include_blank => "Please select"}, {:class => "medium"}
        = required
    .clearfix
      = f.label :baby_code
      .input
        = f.text_field :baby_code
        = required
    .actions
      = f.submit "Save", class: "btn primary"
      = link_to 'Cancel', root_path, class: "btn"
