- title "#{@response.survey.name} - Baby Code #{@response.baby_code}"

= link_to "Go To Summary Page", @response, class: 'btn'
%br/
%br/

- @sections_to_answers.each do |section, answers|
  %h2= section.name
  = link_to "Edit Answers", edit_response_path(@response, section: section.id), id: "edit_answers_#{section.id}", class: 'btn'
  %table.bordered-table{id: "section_#{section.id}"}
    - answers.each do |answer|
      %tr
        %td= answer.question.question
        %td
          = answer.format_for_display
          - if answer.violates_mandatory
            %br/
            This question is mandatory
          - if answer.has_warning?
            %br/
            %span.warning-display= answer.warnings.join ', '
            %span.warning-display= answer.fatal_warnings.join ', '
