- title response_title(@response)

= link_to "Go To Summary Page", @response, class: 'btn'
%br/
%br/

- @sections_to_answers.each do |section, answers|
  %table.bordered-table.review{id: "section_#{section.id}"}
    %thead
      %tr
        %th
          %h2= section.name
    %tbody
      - answers.each do |answer|
        %tr
          %td= answer.question.question
          %td
            = answer.format_for_display
            - if answer.violates_mandatory
              %br/
              %span.fatalerror-display This question is mandatory
            - answer.warnings.each do |warning|
              %br/
              %span.warning-display= warning
            - answer.fatal_warnings.each do |fatal|
              %br/
              %span.fatalerror-display= fatal
  .actions.review
    = link_to "Edit Answers", edit_response_path(@response, section: section.id), id: "edit_answers_#{section.id}", class: 'btn'
