- title "#{@response.survey.name} - Baby Code #{@response.baby_code}"

= link_to "Go To Summary Page", @response, class: 'btn'
%br/
%br/

- @response.survey.sections.each do |section|
  %h2= section.name
  = link_to "Edit Answers", edit_response_path(@response, section: section.id), id: "edit_answers_#{section.id}", class: 'btn'
  %table.bordered-table{id: "section_#{section.id}"}
    - answers =  @response.prepare_answers_to_section_for_display(section)
    - section.questions.each do |question|
      - answer = answers[question.id]
      %tr
        %td= question.question
        %td
          = answer.format_for_display
          - if answer.has_warning?
            %br/
            %span.warning-display= answer.warnings.join ', '
