%h1= @response.survey.name
= form_tag response_path(@response), method: :put do
  - @questions.each do |q|
    - field_id = "question_#{q.id}"
    = label_tag field_id, q.question
    = text_field_tag "answers[#{q.id}]", @question_id_to_answers[q.id], id: field_id
  = submit_tag 'Save page', class: "btn primary"
