- content_for :tabs do
  = render 'pages/tabs'

- title 'Data Collection Stats'

- surveys.each do |survey|
  - stats = StatsReport.new(survey)
  - unless stats.empty?

    %h2= survey.name

    %table{id: "stats_#{survey.id}", class: 'bordered-table'}
      %thead
        %tr
          %th
          - stats.years.each do |year|
            %th
              = year
              %br/
              In Progress
            %th
              = year
              %br/
              Submitted
      %tbody
        - data_columns = stats.years.size * 2
        - hospitals.each do |state|
          %tr
            %th{colspan: (data_columns + 1)}= state[0]

          - state[1].each do |hospital|
            - hospital_name, hospital_id = hospital
            %tr
              %td= hospital_name
              - stats.years.each do |year|
                %td= stats.response_count(year, Response::STATUS_UNSUBMITTED, hospital_id)
                %td= stats.response_count(year, Response::STATUS_SUBMITTED, hospital_id)