.container
  %h2 Please enter your email and password to log in
  .clearfix
    = f.label :email, "Email:"
    .input
      = f.text_field :email, class: "xlarge"
  .clearfix
    = f.label :password, "Password:"
    .input
      = f.password_field :password, class: "xlarge"
  .actions
    = f.submit "Log in", class: "btn primary"
