= tabs_tag(builder: MenuTabBuilder, namespace: :admin_navigation) do |tab|
  %ul.tabs
    = tab.users 'Current Users', admin_users_path
    = tab.access_requests 'Access Requests', access_requests_admin_users_path
    = tab.year_of_registration 'Year of Registration Configuration', edit_year_of_registration_configuration_items_path
    = tab.delete_responses 'Delete Responses', batch_delete_responses_path
