!!!
%html
  = render partial: "shared/head"
  %body
    #content_wrapper
      = render partial: "shared/topbar"
      .container
        = render partial: "shared/alert_bar"
        %h1= yield :title

        - # This render call will render the first view it finds from the *controller* then any *inherited controller* or the *ApplicationController*
        = render partial: "tabs"
        = yield
    = render partial: "shared/footer"