!!!
%html
  = render partial: "shared/head"
  %body
    #content_wrapper
      = render partial: "shared/alert_bar"
      = render partial: "shared/topbar"
      .container
        %h1= yield :title
        = yield
    = render partial: "shared/footer"